.warningPage {
  width: 100%;
  height: calc(100vh - 8rem);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    font-size: var(--font-size-28);
    padding: var(--spacing-medium);
  }

  a {
    width: 100%;
    max-width: 20rem;
  }
}
